## Data Processing

In [2]:
import pandas as pd
import numpy as np

In [4]:
df_lstm_out1=pd.read_csv('./data/train_btc.csv')
df_lstm_out2=pd.read_csv('./data/test_btc.csv')
df_lstm_out=pd.concat([df_lstm_out1, df_lstm_out2])

df_lstm_out.Date=pd.to_datetime(df_lstm_out.Date).astype(str)
df_lstm_out['Date'] = df_lstm_out.Date.str.replace('-','').astype(int)
#df_lstm_out['ajexdi'] = 1.0
df_lstm_out.rename(columns={'Date':'datadate','Symbol':'tic','Open':'prcod','High':'prchd',\
                            'Low':'prcld','Close':'prccd','Volume':'cshtrd'}, inplace=True)
#df_lstm_out['tic']='BTC'
df_lstm_out.tail()

,datadate,tic,prcod,prchd,prcld,prccd,cshtrd,Market Cap,1Dreturn,Norm_Close,...,twitter_technology,twitter_positive,twitter_price,twitter_negative,neutral,positive,negative,sent_score,total_tweets,Unnamed: 28
273,20191119,BTC,8305.134291,8408.516128,8099.963369,8206.145918,21083613816,1.481780e+11,-0.021798,-0.749543,...,-0.411897,-0.591609,-0.398956,0.009492,679.0,66.0,19.0,0.061518,1.805379,NaN
274,20191120,BTC,8203.613180,8237.239874,8010.511901,8027.268243,20764300437,1.449630e+11,-0.047902,-1.069740,...,-0.457482,-0.273636,-0.669754,-0.346400,669.0,86.0,17.0,0.089378,1.828841,NaN
275,20191121,BTC,8023.644687,8110.098131,7597.381608,7642.749945,22514243371,1.380320e+11,-0.045294,-1.717967,...,-0.404884,0.306196,0.578556,0.849176,775.0,86.0,26.0,0.067644,2.166102,NaN
276,20191122,BTC,7643.569425,7697.382714,6936.706599,7296.577568,34242315785,1.317920e+11,0.013872,-2.206681,...,-0.282153,0.374779,1.027683,0.860297,817.0,80.0,41.0,0.041578,2.315670,NaN
277,20191123,BTC,7296.164425,7442.258933,7151.417814,7397.796815,21008924418,1.336360e+11,-0.047295,-1.929610,...,-0.674891,-0.847234,-0.363731,-0.518785,185.0,24.0,8.0,0.073733,0.201189,NaN

In [5]:
df_lstm_out.datadate.max(), df_lstm_out.datadate.min()

(20191123, 20130804)

In [7]:
df_eth1=pd.read_csv('./data/train_ETH.csv')
df_eth2=pd.read_csv('./data/test_ETH.csv')
df_eth=pd.concat([df_eth1, df_eth2])

df_eth['Date']=pd.to_datetime(df_eth['Date']).astype(str)
df_eth['Date'] = df_eth.Date.str.replace('-','').astype(int)

#df_eth['ajexdi'] = 1.0
df_eth.rename(columns={'Date':'datadate','Symbol':'tic','Open':'prcod','High':'prchd',\
                            'Low':'prcld','Close':'prccd','Volume':'cshtrd'}, inplace=True)

df_eth.tail()

,datadate,tic,prcod,prchd,prcld,prccd,cshtrd,Market Cap,1Dreturn,Norm_Close,label,Unnamed: 11,prob_sell,prob_hold,prob_buy,pred
875,20210713,ETH,2034.098374,2040.693649,1922.577870,1940.083966,16621628658,2.263710e+11,0.027961,-1.365801,2,NaN,0.2842,0.4116,0.3042,1
876,20210714,ETH,1941.167794,2015.107389,1869.223126,1994.331337,17342819679,2.327270e+11,-0.041696,-1.130342,0,NaN,0.2872,0.4096,0.3032,1
877,20210715,ETH,1994.712053,2037.742602,1883.272163,1911.175616,15688092552,2.230490e+11,-0.016112,-1.390318,0,NaN,0.2919,0.4008,0.3073,1
878,20210716,ETH,1916.598399,1959.696325,1853.590297,1880.382985,14884569147,2.194800e+11,0.009808,-1.448015,1,NaN,0.2932,0.4030,0.3038,1
879,20210717,ETH,1876.881391,1917.597861,1855.590848,1898.825213,13364282076,2.216580e+11,-0.001724,-1.321587,1,NaN,0.2963,0.3979,0.3059,1

In [8]:
df_eth.datadate.max(), df_eth.datadate.min()

(20210717, 20151113)

In [9]:
cols = ['datadate','tic','prcod','prchd','prcld','prccd','cshtrd']
df=pd.concat([df_lstm_out[df_lstm_out.datadate>=df_eth.datadate.min()][cols], df_eth[df_eth.datadate<=df_lstm_out.datadate.max()][cols]])

In [10]:
df.tic.value_counts()

ETH    1423
BTC    1423
Name: tic, dtype: int64

In [11]:
df.datadate.max(), df.datadate.min()

(20191123, 20151113)

In [12]:
df_sentiment_score=pd.read_csv('./data/sentiment_score.csv')
df_sentiment_score.date=pd.to_datetime(df_sentiment_score.date).astype(str)
df_sentiment_score.date = df_sentiment_score.date.str.replace('-','').astype(int)
df_sentiment_score.rename(columns={'date':'datadate'}, inplace=True)
df_sentiment_score.head()

   datadate  count   neutral      positive      negative
0  20070419      1  0.999990  8.654533e-06  1.342184e-06
1  20090111      1  0.999987  1.657014e-06  1.182290e-05
2  20090121      1  0.999997  1.632836e-06  1.136270e-06
3  20090127      1  0.999642  2.439857e-04  1.142936e-04
4  20090129      1  1.000000  2.394339e-08  2.423017e-07

In [13]:
df2 = df.merge(df_sentiment_score, on='datadate', how='left')
df2['ajexdi'] = 1.0

In [14]:
df2.head()

,datadate,tic,prcod,prchd,prcld,prccd,cshtrd,count,neutral,positive,negative,ajexdi
0,20151113,BTC,338.497986,340.914002,326.075012,336.752991,52003000,98,92.994462,4.937240,0.068299,1.0
1,20151114,BTC,336.623993,338.181000,329.970001,332.906006,38612000,98,93.110929,4.176420,0.712651,1.0
2,20151115,BTC,333.050995,334.661987,317.489990,320.165985,44213100,93,92.925785,0.041949,0.032266,1.0
3,20151116,BTC,319.734985,331.626007,315.904999,330.751007,47980100,93,91.216409,1.764169,0.019423,1.0
4,20151117,BTC,330.362000,338.350006,329.614014,335.093994,51001600,98,91.524858,5.392510,1.082633,1.0

In [79]:
# df2.to_csv('./data/daily_eth_bitcoin_data.csv')

In [5]:
!python run_DRL.py

WARNING:tensorflow:
The TensorFlow contrib module will not be included in TensorFlow 2.0.
For more information, please see:
  * https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md
  * https://github.com/tensorflow/addons
  * https://github.com/tensorflow/io (for I/O related ops)
If you depend on functionality not listed there, please file an issue.

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/stable_baselines/__init__.py:33: UserWarning: stable-baselines is in maintenance mode, please use [Stable-Baselines3 (SB3)](https://github.com/DLR-RM/stable-baselines3) for an up-to-date version. You can find a [migration guide](https://stable-baselines3.readthedocs.io/en/master/guide/migration.html) in SB3 documentation.
  "stable-baselines is in maintenance mode, please use [Stable-Baselines3 (SB3)](https://github.com/DLR-RM/stable-baselines3) for an up-to-date version. You can find a [migration guide](https://stable-baselines3.readthedocs.io/en/master/guide/migration.html) in SB3 documentation."
   datadate  tic       adjcp        open  ...  rsi         cci    adx  turbulence
0  20151113  BTC  336.752991  338.497986  ...  0.0  -66.666667  100.0         0.0
1  20151113  ETH    0.904096    0.907722  ...  0.0   66.666667  100.0         0.0
2  20151114  BTC  332.906006  336.623993  ...  0.0  -66.666667  100.0         0.0
3  20151114  ETH    0.888812    0.905469  ...  0.0   66.666667  100.0         0.0
4  20151115  BTC  320.165985  333.050995  ...  0.0 -100.000000  100.0         0.0

[5 rows x 15 columns]
42690
[20190219 20190220 20190221 20190222 20190223 20190224 20190225 20190226
 20190227 20190228 20190301 20190302 20190303 20190304 20190305 20190306
 20190307 20190308 20190309 20190310 20190311 20190312 20190313 20190314
 20190315 20190316 20190317 20190318 20190319 20190320 20190321 20190322
 20190323 20190324 20190325 20190326 20190327 20190328 20190329 20190330
 20190331 20190401 20190402 20190403 20190404 20190405 20190406 20190407
 20190408 20190409 20190410 20190411 20190412 20190413 20190414 20190415
 20190416 20190417 20190418 20190419 20190420 20190421 20190422 20190423
 20190424 20190425 20190426 20190427 20190428 20190429 20190430 20190501
 20190502 20190503 20190504 20190505 20190506 20190507 20190508 20190509
 20190510 20190511 20190512 20190513 20190514 20190515 20190516 20190517
 20190518 20190519 20190520 20190521 20190522 20190523 20190524 20190525
 20190526 20190527 20190528 20190529 20190530 20190531 20190601 20190602
 20190603 20190604 20190605 20190606 20190607 20190608 20190609 20190610
 20190611 20190612 20190613 20190614 20190615 20190616 20190617 20190618
 20190619 20190620 20190621 20190622 20190623 20190624 20190625 20190626
 20190627 20190628 20190629 20190630 20190701 20190702 20190703 20190704
 20190705 20190706 20190707 20190708 20190709 20190710 20190711 20190712
 20190713 20190714 20190715 20190716 20190717 20190718 20190719 20190720
 20190721 20190722 20190723 20190724 20190725 20190726 20190727 20190728
 20190729 20190730 20190731 20190801 20190802 20190803 20190804 20190805
 20190806 20190807 20190808 20190809 20190810 20190811 20190812 20190813
 20190814 20190815 20190816 20190817 20190818 20190819 20190820 20190821
 20190822 20190823 20190824 20190825 20190826 20190827 20190828 20190829
 20190830 20190831 20190901 20190902 20190903 20190904 20190905 20190906
 20190907 20190908 20190909 20190910 20190911 20190912 20190913 20190914
 20190915 20190916 20190917 20190918 20190919 20190920 20190921 20190922
 20190923 20190924 20190925 20190926 20190927 20190928 20190929 20190930
 20191001 20191002 20191003 20191004 20191005 20191006 20191007 20191008
 20191009 20191010 20191011 20191012 20191013 20191014 20191015 20191016
 20191017 20191018 20191019 20191020 20191021 20191022 20191023 20191024
 20191025 20191026 20191027 20191028 20191029 20191030 20191031 20191101
 20191102 20191103 20191104 20191105 20191106 20191107 20191108 20191109
 20191110 20191111 20191112 20191113 20191114 20191115 20191116 20191117
 20191118 20191119 20191120 20191121 20191122 20191123]
============Start Ensemble Strategy============
insample turbulence_threshold:  41.51244822650316
============================================
historical_turbulence_mean:  12.057939790338617
turbulence_threshold:  69.26010923401012
training shape : (2290, 15) and data columns ['datadate', 'tic', 'adjcp', 'open', 'high', 'low', 'volume', 'neutral', 'positive', 'negative', 'macd', 'rsi', 'cci', 'adx', 'turbulence']
======Model training from:  20151113 to  20190219
======A2C Training========
WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/stable_baselines/common/tf_util.py:191: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/stable_baselines/common/tf_util.py:200: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/stable_baselines/common/policies.py:116: The name tf.variable_scope is deprecated. Please use tf.compat.v1.variable_scope instead.

WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/stable_baselines/common/input.py:25: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/stable_baselines/common/policies.py:561: flatten (from tensorflow.python.layers.core) is deprecated and will be removed in a future version.
Instructions for updating:
Use keras.layers.flatten instead.
WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/tensorflow_core/python/layers/core.py:332: Layer.apply (from tensorflow.python.keras.engine.base_layer) is deprecated and will be removed in a future version.
Instructions for updating:
Please use `layer.__call__` method instead.
WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/stable_baselines/common/tf_layers.py:123: The name tf.get_variable is deprecated. Please use tf.compat.v1.get_variable instead.

WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/stable_baselines/common/distributions.py:418: The name tf.random_normal is deprecated. Please use tf.random.normal instead.

WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/stable_baselines/a2c/a2c.py:160: The name tf.summary.scalar is deprecated. Please use tf.compat.v1.summary.scalar instead.

WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/stable_baselines/common/tf_util.py:449: The name tf.get_collection is deprecated. Please use tf.compat.v1.get_collection instead.

WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/stable_baselines/common/tf_util.py:449: The name tf.GraphKeys is deprecated. Please use tf.compat.v1.GraphKeys instead.

WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/tensorflow_core/python/ops/clip_ops.py:301: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/stable_baselines/a2c/a2c.py:184: The name tf.train.RMSPropOptimizer is deprecated. Please use tf.compat.v1.train.RMSPropOptimizer instead.

WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/tensorflow_core/python/training/rmsprop.py:119: calling Ones.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/stable_baselines/a2c/a2c.py:194: The name tf.global_variables_initializer is deprecated. Please use tf.compat.v1.global_variables_initializer instead.

WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/stable_baselines/a2c/a2c.py:196: The name tf.summary.merge_all is deprecated. Please use tf.compat.v1.summary.merge_all instead.

Training time (A2C):  4.5370471477508545  minutes
======A2C Validation from:  20190219 to  20190423
A2C Sharpe Ratio:  0.42982287637605615
======Trading from:  20190423 to  20190625
previous_total_asset:1000000
end_total_asset:1965847.262044811
total_reward:965847.2620448109
total_cost:  998.9177791891998
total trades:  124
Sharpe:  0.6090917957701218
============================================
historical_turbulence_mean:  11.517955308845643
turbulence_threshold:  69.26010923401012
training shape : (2416, 15) and data columns ['datadate', 'tic', 'adjcp', 'open', 'high', 'low', 'volume', 'neutral', 'positive', 'negative', 'macd', 'rsi', 'cci', 'adx', 'turbulence']
======Model training from:  20151113 to  20190423
======A2C Training========
Training time (A2C):  4.535998606681824  minutes
======A2C Validation from:  20190423 to  20190625
A2C Sharpe Ratio:  0.1574381901582135
======Trading from:  20190625 to  20190827
previous_total_asset:1965847.262044811
end_total_asset:2005808.3138852862
total_reward:39961.051840475295
total_cost:  2240.3866642919565
total trades:  83
Sharpe:  0.05280903147678843
============================================
historical_turbulence_mean:  11.741111377951002
turbulence_threshold:  69.26010923401012
training shape : (2542, 15) and data columns ['datadate', 'tic', 'adjcp', 'open', 'high', 'low', 'volume', 'neutral', 'positive', 'negative', 'macd', 'rsi', 'cci', 'adx', 'turbulence']
======Model training from:  20151113 to  20190625
======A2C Training========
Training time (A2C):  4.54603157043457  minutes
======A2C Validation from:  20190625 to  20190827
A2C Sharpe Ratio:  -0.04049789057835271
======Trading from:  20190827 to  20191029
previous_total_asset:2005808.3138852862
end_total_asset:1816976.28105968
total_reward:-188832.03282560618
total_cost:  2031.5004396772947
total trades:  81
Sharpe:  -0.06950737396286133
Ensemble Strategy took:  13.640728922684987  minutes